img {
  float: left;
  margin-right: 15px;
  border-style: solid;
}

.firsthead {
  margin-top: 220px;
}

.projects {
  border: 5px black;
  border-style: solid;
  margin-top: 40px;
  padding: 10px;
}

span {
  text-decoration: underline;
  color: rgb(255, 0, 0);
}

h2 {
  font-style: italic;
}